.recipes_container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(2, 200px);
  gap: 10px;
  text-align: center;
  margin-bottom: 100px;
}

a:link {
  text-decoration: none;
}

h3 {
  margin: 10px 0;
  text-align: center;
}